{% extends "::base.html.twig" %}
{% block title %} Accouplement {% endblock title %}
{% block custom_css %}
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            background-color: #f5f5f5 ;
        }
        main {
            flex: 1 0 auto;
        }
        .myCard{
            background-color: rgba(0,0,0,0.6) !important;
            color:#fff;
            border-radius: 100%;
            overflow: hidden !important;
            padding-top:30% !important;

        }
        .myCard > p{
            font-size: 13px !important;
            text-decoration: underline;
            width: 100% !important;
        //line-height: 10px !important;
            cursor: default !important;
        }
        .myCard > p > i{
            font-size: 13px !important;
            cursor: default !important;
        }
        .myCard-title{
            font-weight: 900 !important;
            font-size: 16px !important;
        }
        .myCard-title > a{
            color: #FFF;
            cursor: pointer;
        }
        .myCard-title > a:hover{
            color: #ffc107;
            text-decoration: underline;
        }
    </style>
{% endblock custom_css %}
{% block body %}
    {% include "::navbar.html.twig" %}

    <main>
        <div class="container " style="margin-top: 1%;padding: 0.1% 1% 0.1% 1%">
            <div class="row" >
                <div class="col s12 m12 l12 white header-1">
                    <a href="{{ path('adoption_index') }}">
                        <h5 class="light-blue-text" style="padding-bottom: 1%">Adoption</h5>
                    </a>
                </div>

            </div>
            <div class="row " style="padding-top:0;">

                <div class="col s12 m3 l5 center white z-depth-1" style="border-right: 0 solid #1e88e5;padding: 0 1% 1% 1%;margin-right:8.2%" >


                    <div class="col s6 m6 l12 offset-s3 offset-m3 center "  >

                        <div class="card" style="border-radius: 100%">
                            <div class="card-image" >
                                {% if dog.photo.path is defined %}
                                    {% set img = asset(dog.photo.AssetPath)  %}
                                {% else %}
                                    {% set img = asset('images/profile_exp.png')  %}
                                {% endif %}

                                <img src="{{ img }}"
                                     class=" valign "
                                     height="420"
                                     style="border: 0 solid #ffffff;border-radius: 0"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8 l6 center white z-depth-1" style="">
                    <div class="col s12 m12 l12" style="min-height:400px">

                        <div class="col s12 fos_user_user_show show" >
                            <div class="col s12 m4 l12 input-field  ">
                                <h6 class="left" style="text-decoration: underline">Information</h6>
                            </div>
                            <div class="col s4 m4 l4 input-field">
                                <label for="nom">Nom</label>
                            </div>
                            <div class="col s8 m8 l8 input-field">
                                {{ dog.nom }}
                            </div>

                            <div class="col s4 m4 l4 input-field  ">
                                <label for="race">Race</label>
                            </div>
                            <div class="col s8 m8 l8 input-field">
                                {{ dog.race.libelle }}
                            </div>

                            <div class="col s4 m4 l4 input-field  ">
                                <label for="age">Age</label>
                            </div>
                            <div class="col s8 m8 l8 input-field">
                                {{ dog.age|age }}
                            </div>

                            <div class="col s4 m4 l4 input-field  ">
                                <label for="taille">Taille</label>
                            </div>
                            <div class="col s8 m8 l8 input-field">
                                {{ dog.taille }}
                            </div>

                            <div class="col s4 m4 l4 input-field  ">
                                <label for="sexe">Sexe</label>
                            </div>
                            <div class="col s8 m8 l8 input-field">
                                {% if dog.sexe == 'M' %}{{ 'Male' }}{% else %} {{ 'Femelle' }}{% endif %}
                            </div>

                            <div class="col s12 m4 l12 input-field ">
                                <h6 class="left" style="text-decoration: underline">Etat</h6>
                            </div>
                            <div class="col s4 m4 l6 input-field  ">
                                <label for="vente">En vente</label>
                            </div>
                            <div class="col s8 m8 l6 input-field">
                                {% if dog.etat.vente == 0 %}<span id="vente" class="red-text">NON</span>{% else %}<span id="vente" class="green-text">OUI</span>{% endif %}
                            </div>
                            <div class="col s4 m4 l6 input-field  ">
                                <label for="adoption">En adoption</label>
                            </div>
                            <div class="col s8 m8 l6 input-field">
                                {% if dog.etat.adoption == 0 %}<span id="adoption" class="red-text">NON</span>{% else %}<span id="adoption" class="green-text">OUI</span>{% endif %}
                            </div>
                            <div class="col s4 m4 l6 input-field  ">
                                <label for="adoption">En accouplement</label>
                            </div>
                            <div class="col s8 m8 l6 input-field">
                                {% if dog.etat.accouplement == 0 %}<span id="adoption" class="red-text">NON</span>{% else %}<span id="adoption" class="green-text">OUI</span>{% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="col s12 m12 l12 input-field">
                        <a href="#modal1" class="btn right blue modal-trigger" style="width: 100%">
                            Contacter le Maitre !
                        </a>
                    </div>
                </div>


            </div>

        </div>
        {# bottom_modal #}
        <div id="modal1" class="modal bottom-sheet">
            <div class="modal-content">
                <h4 class="center">{{ dog.maitre.nom }} {{ dog.maitre.prenom }}</h4>

                    <h5 class="center">Email : {{ dog.maitre.emailCanonical }}</h5>
                    <h5 class="center">Téléphone : {{ dog.maitre.tel }}</h5>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat center" style="width:100%">Fermer</a>

            </div>
        </div>
    </main>

    {% block footer %}{% endblock footer %}
    {% block custom_js %}
        <script>
            $(document).ready(function(){

                $('.modal-trigger').leanModal({
                            dismissible: true, // Modal can be dismissed by clicking outside of the modal
                            opacity: .9, // Opacity of modal background
                            in_duration: 300, // Transition in duration
                            out_duration: 200, // Transition out duration
                            starting_top: '10%', // Starting top style attribute
                            ending_top: '10%', // Ending top style attribute
                            ready: function() {  }, // Callback for Modal open
                            complete: function() {} // Callback for Modal close
                        }
                );
                $('ul.tabs').tabs();
                var theCard = $('.card');
                $('select').material_select();

                theCard.mouseenter(function(e){
                    if ($(this).find('> .card-reveal').length) {
                        if ($(e.target).is($('.card .activator')) || $(e.target).is($('.card .activator i')) ) {
                            // Make Reveal animate up
                            $(this).find('.card-reveal').css({ display: 'block'}).velocity("stop", false).velocity(
                                    {translateY: '-100%'},
                                    {
                                        duration: 300,
                                        queue: false,
                                        easing: 'easeInOutQuad'
                                    });
                        }
                    }

                    $('.card-reveal').closest('.card').css('overflow', 'hidden');

                });

                theCard.mouseleave(function(){
                    // Make Reveal animate down and display none
                    $(this).find('.card-reveal').velocity(
                            {translateY: 0},
                            {
                                duration: 225,
                                queue: false,
                                easing: 'easeInOutQuad',
                                complete: function() {
                                    $(this).css({ display: 'none'});
                                }
                            });
                });

            });
        </script>
    {% endblock custom_js %}
{% endblock body %}